apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-devops-cicd
  labels:
    app: fastapi-devops-cicd
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi-devops-cicd
  template:
    metadata:
      labels:
        app: fastapi-devops-cicd
    spec:
      containers:
        - name: api
          image: ghcr.io/kytaalok/fastapi-devops-cicd:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "0.1.0"
            - name: LOG_LEVEL
              value: "INFO"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

